
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div>
        <label>Role Ad : </label>
        <input type="text" name="roleName"/>
    </div>
    <button type="submit" class="=btn btn-primary">Oluştur</button>
</form>

