@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Success"]!=null)
{
    <div class="alert alert-success">
        <span>@TempData["Success"]</span>
    </div>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(ViewBag.Users != null)
        {
            @foreach (var item in ViewBag.Users as List<MVC_Identity.Models.Entity.AppUser>)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>
                        <a href="/Home/AddAdmin/@item.Id" class="btn btn-success">Admin</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">
                    <span>Herhangi bir üye bulunamadı!</span>
                </td>
            </tr>
        }
    </tbody>
</table>
